<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<h1> Home Page: </h1>
     

<%= link_to "Create new LogIn", new_log_in_path %>



<table>
    <tr>
        <th> Website </th>&nbsp;
        <th> Username </th>&nbsp;
        <th> Password </th>&nbsp;
        <th> Security Question </th>&nbsp;
        <th> Security Answer </th>&nbsp;
        <th> Edit </th>&nbsp;
        <th> Delete </th>&nbsp;
    <tr>
    <% @log_in.each do |log| %>
    <tr>
        <td><%= log.website %></td>&nbsp;
        <td><%= log.username %></td>&nbsp;
        <td><%= log.password %></td>&nbsp;
        <td><%= log.security_question %></td>
        <td><%= log.security_answer %></td>
        <td><%= link_to 'Edit', edit_log_in_path(log) %></td>
        <td><%= link_to 'Delete', {action: "destroy", id: @log_in.ids }, method: :delete %></td>
    </tr>
    <% end %>
</table>



<% if false %>
    <%= current_user.log_ins.try(:user)  %>
    <%= log.website %>
    <%= log.username %>
    <%= log.password %>
    <%= log.security_question %>
    <%= log.security_answer %>
<% end %>  
