<html>
    <body>
        <div id="main-container" class="container-fluid">
            <div class="row">
                <div id="header">
                </div>
                <div id="main-content" class="col-xs-9">
                    <h1> All of your passwords in one place: </h1>
                    <h3> <%= link_to "Create New LogIn", new_log_in_path %> </h3>
        
                    <table class="table">
                        <tr>
                            <th> Website </th>
                            <th> Username </th>
                            <th> Password </th>
                            <th> Security Question </th>
                            <th> Security Answer </th>
                        <tr>
                        <% @log_in.each do |log| %>
                        <tr>
                            <td><%= log.website %></td>
                            <td><%= log.username %></td>
                            <td><%= log.password %></td>
                            <td><%= log.security_question %></td>
                            <td><%= log.security_answer %></td>
                        </tr>
                        <% end %>
                    </table>
                </div>
            </div>
    </body>
</html>

<% if false %>
    <%= current_user.log_ins.try(:user)  %>
    <%= log.website %>
    <%= log.username %>
    <%= log.password %>
    <%= log.security_question %>
    <%= log.security_answer %>
<% end %>  
