<%= link_to('Logout', destroy_user_session_path, method: :delete) %> 

<h1> Your saved log in information: </h1>
<table class="table">
    <tr>
        <th> Website </th>
        <th> Username </th>
        <th> Password </th>
        <th> Security Question </th>
        <th> Security Answer </th>
    <tr>
    <tr>
        <td><%= @log_ins.website %></td>
        <td><%= @log_ins.username %></td>
        <td><%= @log_ins.password %></td>
        <td><%= @log_ins.security_question %></td>
        <td><%= @log_ins.security_answer %></td>
        <td><%= link_to 'Edit', edit_log_in_path(@log_ins)%></td>
        <td><%= link_to "Delete", log_in_path %></td>
    </tr>
</table>

</br>
<%= link_to "Create another", new_log_in_url %>
<br/>
<%= link_to "See all", root_path %>