<h1> Your saved log in information: </h1>
<table class="table">
    <tr>
        <th> Website </th>
        <th> Username </th>
        <th> Password </th>
        <th> Security Question </th>
        <th> Security Answer </th>
    <tr>
    <tr>
        <td><%= @log_ins.website %></td>
        <td><%= @log_ins.username %></td>
        <td><%= @log_ins.password %></td>
        <td><%= @log_ins.security_question %><td>
        <td><%= @log_ins.security_answer %></td>
    </tr>
</table>

</br>
<%= link_to "Create another", new_log_in_url %>
<%= link_to "See all", root_path %>